body
{
    height: 100%;
    width: 100%;
  margin:0px;
  padding:0px;
  font-family: 'Reem Kufi', sans-serif;
	background:#ffffffe1;
	
	font-weight:400;
    /* font-size: 20; */

}

.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.out{
  outline: 0px;
  border: 0px;
}

/* svg{width:75%;}
.flex-container {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.flex-container > div {
  font-size: 15px;
}

.flex-container-column > div {
  background-color: #f1f1f1;
  font-size: 15px;
} */

        /* Nav bar starts */
.spacing {
  
  height:73px; 
 

}

.spacing-10 {
 height: 10px;
}

.spacing-200 {
    height: 200px;
   }


.fa {
position: relative;

width: 55px;
height: 36px;
text-align: center;
top:12px; 
font-size:20px;

}


.main-menu {
background:#F7F7F7;
/* position:absolute; *{ box-sizing: border;  */
height:100%;
/* margin-right: 5px; */
width:61px;
/* overflow:hidden; */
}


.main-menu li {
position:relative;
display:block;

/* width:250px; */
}

.main-menu li>a {
position:relative;
/* width:25px; */
display:table;

border-spacing:0;
color:#554c4c;
font-size: 18px;
text-decoration:none;

border-top:1px solid #f2f2f2;


}



.main-menu .nav-icon {
  
position:relative;
display:table-cell;
/* width:1px; */
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;

}




.main-menu li:hover>a{
/* color:#fff; */
border-radius: 6px;

margin-left: 3px;
/* margin-right: 9px; */
/* padding-left: 0px;
padding-right: 0px; */
width: 3%;
background-color:#00bbbb;
text-shadow: 0px 0px 0px; 
}

  /* Nav bar end */


  .grid{
      background: #d3d0ce;
      height: 100%;
      padding-left: 50px;
      max-width: 400px;
  }

  .grid2{
    padding: 15px;
}

#ret{
  color: royalblue;
}
.div2-1{
  margin-bottom: 10px;
}

.fleft{
  float: left;
  width: 140px;
}

#right{
  width: 140px;
  float: right;
}

#left{
  margin-right: 6px;
}

.dollar{
  border-bottom: 3px solid darkgrey;
  
}


.circular {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.circular img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.div2-3{
  margin-top: 15px;
  height: 14% ;
}

canvas{
  display: block;
    width: 300px;
    height: 185.5px;
}

/* .div2-3{
  
} */
/* #d1{
  width:3%;
}

#d2{
  width: 33%;
} */
/* #dollar{
  width:33.33%;
} */

  hr{
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
  }

  p{
    margin-top: 0;
    margin-bottom: 0px;
  }

  .closee{
    font-weight: 400;
    line-height: 1;
    color: #060606;
    opacity: .5;
    font-size: small;
    margin-bottom: 11px;
  }

  .recent{
      margin-top: 25px;
      font-size: 1.2rem;
  }

  .name{
      font-size: 1.6rem;
  }

  .closee2{
    font-weight: 400;
    line-height: 1;
    color: #000;
    opacity: .5;
    display: inline-block;
    margin-top:20px
  }

  .div3{
      padding: 0;
  }
  .div3-1{
    background-color: #d3d0ce;
    padding: 30;
    margin-top: 40px;
  }
  
 .f-small{
    font-size: 1.2rem;
 }

 .r-div{
    margin-top: 9;
    margin-bottom: 9;
 }

 .update{
    width: 100%;
    margin-top: 8;
    margin-bottom: 9;
 }

 .arw{
   padding-top: 12px;
 }

 #tab{
  margin-left: 20px;
  width: 100%;
 }



 .div3-2{
    margin-top: 27;
    border-left: 3px solid darkgrey;
    padding-left: 15px;

 }

  /* .big{
      font-weight: 700;
      font-size: 25px;
      margin: 0;
      padding-top: px;
       vertical-align: baseline; 
  } */

  #myChart{
      max-width: 5px;
      max-height: 5px;
  }